<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<center>
    <h1>用户列表</h1>
    <table border="1">
        <tr>
            <td>id</td>
            <td>用户名</td>
            <td>性别</td>
            <td>电话</td>

        </tr>
        <!--                这个对应的是我们在Servlet中调用context的方法,
                            例如: context.setVariable("userList",userList);
                            存入的值.
                            所以想获取上述的userList集合, 需要在页面上写:
                            ${userList} 注:这里的userList是setVariable第一个参数
                            th:each

                            由于上面的each中定义了一个变量user, 因此虽然Context中没有名为user的值,
                            但是仍然可以通过${user}形式获取到它而${user.username}
                            是告诉thymeleaf获取user对象中username这个属性的值,
                            那么thymeleaf会自动调用User类中该属性的get方法来获取到这个属性的值.
                            th:text=""的作用是替换其所在标签中的文本, 即: 开始与结束标签之间的文本内容


        -->
        <tr th:each="user:${msg}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.sex}"></td>
            <td th:text="${user.telphone}"></td>

        </tr>

    </table>
  <!-- <table>
       <tr>

           <th th:text="${msg1}"></th>

       </tr>
   </table>-->

</center>
</body>
</html>
